/** {
  border: 1px solid black
}*/

body{
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
  color: #555;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}

.panel{
  padding: 1rem;
}

.panel ul{
  margin-left: 0;
  padding-left: 0;
}

#main{
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 20rem;
  right: 0;
  bottom: 0;
}

#main .panel .username{
  float: right;
  font-size: 1rem;
  font-family: sans-serif;
  margin-right: 1rem;
  padding-top: 1rem;
  color: #777;
}

#main .panel li{
  background-color: #eee;
  border: 0px solid #555;
  border-radius: 1rem;
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

#main .panel li .right-label{
  float: right;
  font-size: .7rem;
}

#main small{
  color: #aaa;
}

#nav{
  position: absolute;
  background-color: #555;
  color: #ccc;
  top: 0;
  bottom: 0;
  width: 20rem;
}

#nav .panel li{
  padding-left: .5rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  list-style-type: none;
  border-top-style: solid;
  border-top-width: 1px;
}

#nav .panel li:last-child{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#nav .panel li:hover{
  cursor: pointer;
  background-color: #777;
}

#nav .panel button{
  width: 100%;
}

#footer{
  position: absolute;
  background-color: #bbb;
  left: 20rem;
  bottom: 0;
  height: 3rem;
  right: 0;
  padding-left: 30px;
  margin: 0;
}

#footer input{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  font-size: inherit;
  border: 0px solid;
  background-color: rgba(0,0,0,0);
}

#footer input::-webkit-input-placeholder{
  color: #777;
}

#footer input::-moz-input-placeholder{
  color: #777;
}

#footer input::-ms-input-placeholder{
  color: #777;
}

#footer input:focus{
  outline: none;
}

#footer button{
  position: relative;
  background-color: #555;
  color: #ccc;
  border: 0px solid #555;
  font-size: inherit;
  cursor: pointer;
  float: right;
  width: 6rem;
  height: 100%;
}

#footer button:hover{
  background-color: #eee;
  color: #555;
}

.form-container{
  padding-right: .5rem;
}

.panel-input{
  background-color: #eee;
  border: 1px solid;
  font-size: inherit;
  color: #555;
  padding: 10px;
  width: 100%;
  margin-left: -10px;

}

.panel-input:focus{
  outline: none;
  background-color: #fff;
}

.panel-button{
  color: #555;
  font-size: inherit;
  cursor: pointer;
  padding: .7rem;
  background-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem;
}

.panel-button:focus{
  outline: none
}

.panel-button:hover{
  background-color: #eee;
}

.panel-button:disabled{
  pointer-events: none;
  opacity: 0.5;
}

.panel-button.primary{
  background-color: #555;
  color: #ddd;
}

.panel-button.primary:hover{
  background-color: #eee;
  color: #555;
}

.modal-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

.modal-panel{
  outline: none;
  max-height: calc(100% - 10rem);
  min-width: 20rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
  padding: 1rem;
  border-radius: .5rem;
}

.modal-panel .modal-body{
  margin: 1rem;
}

.modal-panel .modal-footer button{
  float: right;
}
