
<div class="panel">
  <h1>Bloc Chat<a class="fa fa-reorder" style="float: right" ng-click="nav.navOff = !nav.navOff"></a></h1>
  <div uib-collapse="nav.navOff">

    <h3>Chat rooms<a href class="fa fa-plus add-room" style="float: right" ng-click="nav.initAddRoom()"></a></h3>
    <ul>
      <li class="room" ng-repeat="room in nav.rooms" id="{{room.$id}}" ng-click="nav.selectRoom(room)">{{room.$value}}<span class="fa fa-caret-right" style="float: right"></span></li>
    </ul>
    <h3>Online Users</h3>
    <ul>
      <li ng-if="user.online && user.email!=nav.currentUser.email" ng-repeat="user in nav.users">{{user.name}} - {{nav.getRoomValue(user.room_id)}}</li>
    </ul>
  </div>
</div>
